/* App.css */
/* components/App.css */

body {
  background-image: url('./components/background.png'); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default body margin */
}

.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.todo-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 50%;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #aaa;
}

.todo-item button {
  border: none;
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #c82333;
}
